.model {
    margin: 0;
    padding: 0;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 8px 8px 8px 8px;  
    /* overflow: hidden;
    height: auto; */
  }
  
  ul{
      list-style: none;
  }


  .model_header {
    width: 100%;
    height: 300px;
    background: #33B4FF;
    display: flex;
    position:absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 8px 8px 8px 8px;  
  }
  
.model_header .job{
    width:  700px;
    height: 80px;
    border-radius: 0;
    box-shadow: 0 0 0 0;
    display:flex;
    justify-content:flex-start;
    flex-flow: initial;
    position: relative;
    top: 7rem;
    right: 29rem;
    font-size: 1.5rem;
}



  .model_section-name {
    width: 100%;
    height: auto;
    margin: 0;
    color: white;
    justify-content: flex-start;
    flex-flow: row;
    position: relative;
    top: 2rem;
    right: -25rem;
    font-size: 4rem;
    
  }
  
  .model_avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    margin: 0%;
    padding: 0;
    justify-content: flex-end;
    flex-flow: initial;
    position: relative;
    top: 3rem;
    right: 35rem;
  }



  .badge_section-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    background: #f4f4f7;
  }
  
 
  
  .badge_footer {
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #98ca3f;
    font-weight: bold;
    font-style: italic;
  }